//@import 'bourbon'; // http://bourbon.io/
//@import './bower_components/compass-mixins/lib/_compass';
@import './bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';

@import './variables';
@import './mixins/grid';


/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding:0;
  margin:0;
  font: {
    size: 1.6rem;
    family: $primary-font; // variables inside partials > _variables.scss
  }
  color: $color-1;
  background-color: $color-4;

  @include MQ(maxL) { // layout mixins inside partials > _layout.scss
    &.nav-on-left.overflow-hidden {
      overflow: hidden;
    }
  }
}

a {
  color: $color-2;
  text-decoration: none;
}

img {
  /* make images responsive */
  max-width: 100%;
}

input {
  font-family: $primary-font;
  font-size: 1.6rem;
}

input[type="search"]::-ms-clear {
  /* removes close icon - IE */
    display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

ul{
  margin:0;
}

.cd-main-content {
  padding:30px;
}

.cd-primary-nav {
  .cd-nav-icons .cd-nav-item {

    &.item-1::before {
      background-image: url('../../demo/img/line-icon-1.svg');
    }

    &.item-2::before {
      background-image: url('../../demo/img/line-icon-2.svg');
    }

    &.item-3::before {
      background-image: url('../../demo/img/line-icon-3.svg');
    }

    &.item-4::before {
      background-image: url('../../demo/img/line-icon-4.svg');
    }

    &.item-5::before {
      background-image: url('../../demo/img/line-icon-5.svg');
    }

    &.item-6::before {
      background-image: url('../../demo/img/line-icon-6.svg');
    }

    &.item-7::before {
      background-image: url('../../demo/img/line-icon-7.svg');
    }

    &.item-8::before {
      background-image: url('../../demo/img/line-icon-8.svg');
    }
  }
}


